/* STYLE.CSS*/
/*Navbar effects*/
a.navbar-item:hover {
    background-color: white !important;
}

.is-blue {
    /*color: #5db7dd !important;*/
    color: hsl(204, 86%, 53%) !important;
}

.is-blue2 {
    background-color : hsl(204, 86%, 53%) !important;
}

ul li {
    display: inline;
}

.underline {
    position: relative;
}
.underline:hover,
.underline:focus,
.underline:active {
    cursor: pointer;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    width: 100%;
}
.underline:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 3px;
    background-color: hsl(204, 86%, 53%);
    width: 0;
    -webkit-transition: width .3s;
    transition: width .3s;
}

/*Main landing Section*/
#landing-page {
    /*background: #F2F6FA;*/
}

.photo img {
    opacity: 1;

}

.photo {
    overflow: hidden;
}

.photo img:hover {
    opacity: .5;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;

}

/*Floating animation for the diamond on landing page*/
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}

/*#about-section {*/
    /*background-color: #cdecff;*/
/*}*/


/*------------------------------------------------------*/
/* LOGIN.CSS */
.hero.is-success {
    background: #F2F6FA;
}
.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.box {
    margin-top: 5rem;
}
.avatar {
    margin-top: -70px;
    padding-bottom: 20px;
}
.avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
input {
    font-weight: 300;
}
p {
    font-weight: 700;
}
p.subtitle {
    padding-top: 1rem;
}